#loan-form .input-group-text {
  width: 8%;
}

#loan-form .input-group-text label {
  width: 100%;
  overflow: hidden;
}

#results .input-group-text {
  width: 45%;
}

#results .input-group-text label {
  width: 100%;
  overflow: hidden;
}
